@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
h1{
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);
	font-family: Blaka;

}
h2{
	text-align: center;
	color: black;
	text-decoration: none;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);
     font-family: Blaka;
}


main{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     gap: 30px;
}

main a{
	width: 300px;
	height: 300px;
	border: 2px dashed gold;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	color: black;
	text-decoration: none;
}

main a p {
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);

}

body {
	background: linear-gradient(0deg, rgba(14,13,13,1) 24%, rgba(93,134,83,1) 64%);
}
footer {
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-position: center;
	background-size: cover;
	
}
