div{
  height: 400px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
p{
  font-size: 25px;
  padding: 20px;
  background-color: red;
  margin: 10px;
}
.ergi{
  background-color: lightgreen;
  margin: 10px;
  border-radius: 20px;
  border: solid black 5px;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 25px;
  margin: 25px;
  text-align: center;
}

.ergi1{
  background-color: lightcoral;
  border:solid black 5px; 
  border-radius:´50px;
  justify-content: space-around;
  align-items: flex-end;
}
img{
  border: 10px;
  height: 300px;
  width: 350px;
}