.Black{
  
  background: black;
  color: black;
  padding: 24px;
}
.red{
  background: red;
  color: red;
  padding: 24px;
}
.yellow{
  background: yellow;
  color: yellow;
  padding: 24px;
}
h1{
  color: black;
  font-size: 50px;
  text-align: center;
  background-color: yellow;
}
p{
  text-align: left;
  color: black;
  padding: 50px;

}
img{
  width: 300px;
  float: right;
  border: 10px double red;
  margin: 20px;
  border-radius: 20px;

  
}