 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Redressed&display=swap');

 body{
  margin: 0;
 }


header{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("Auto1.jpg");
background-size: cover;
background-position: center;
}

header h1{
  padding: 30px;
  background-color: rgba(255, 255,255, 0.6);
  border-radius: 20px;
}


main{
  padding: 100px;
  background: linear-gradient(90deg, rgba(58,79,180,0.8799894957983193) 17%, rgba(69,248,252,1) 52%, rgba(42,15,27,1) 76%);
  font-family: 'Redressed', cursive;
  font-size: 25px;
}

main p{
  color: white;
  column-count: 2;
}

#info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: lightblue;
}

#info h2{
  font-size: 45px;
 font-family: 'Lobster', cursive;;
}



footer{
  color: black;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(Auto3.jpg);
  background-size: cover;
  background-position: center;
  
}

footer p{
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}